@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-Light/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light/Roboto-Light.woff2') format('woff2'),
       url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
       url('../fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
       url('../fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg'),
       url('../fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Light') format('svg'),
       url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium/Roboto-Medium.woff2') format('woff2'),
       url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
       url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
       url('../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Light') format('svg'),
       url('../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Light') format('svg'),
       url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 'Roboto Light', sans-serif;
	width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 30px;
	background: #856dd8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #856dd8 0%, #2328ae 100%); /* For Safari 5.1 to 6.0  */
    background: -o-linear-gradient(bottom right, #856dd8 0%, #2328ae 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #856dd8 0%, #2328ae 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #856dd8 0%, #2328ae 100%); /* Standard syntax  */
	
}		

h2 {
	margin-bottom: 28px;
}

a, a:focus, a:visited, a:hover {
	text-decoration: none;
	font-family: 'Roboto Medium', sans-serif;
	color: #5B50C6;
}

input:focus {
	outline: none;
}

.container {
	width: auto;
	height: auto;
	width: 720px;
	border-radius: 6px;
	background: #fff;
	padding: 30px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.container:after {
	content: "";
	display: block;
	clear: both;
}

form {
	vertical-align: top;
}

.col {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-right: 56px;
}

.col:last-child {
	margin-right: 0px;
}

.form-group {
	width: 100%;
	height: 58px;
	border-radius: 6px;
	margin: 22px 0;
	padding: 7px 21px;
	position: relative;
}

.form-group-bordered {
	border: 1px solid #B0B7BE;
}

.form-group-active {
	border-color: #636F7B;
}

.form-group-bordered label, .form-group-bordered span {
	font-family: 'Roboto Light', sans-serif;
	font-size: 16px;
	color: #808890;
	position: absolute;
	top: 50%;
	left: 21px;
	margin-top: -7px;
	transition: .2s;
}

label.label-small-size {
	font-size: 14px;
	top: 7px;
	margin-top: 0;
}

.form-group input[type='text'],
.form-group input[type='password'], 
.form-group input[type='email'],
.form-group input[type='tel'] {
	-webkit-appearance: none;
	border: none;
	display: block;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 16px;
	color: #171B20;
	margin: 20px 0 14px 0;
	width: 100%;
}

input#user_city {
	margin: 14px 0;
}

.icon-star {
	background: url(../images/star.png) no-repeat;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	right: -25px;
	margin-top: -5px;
}

.icon-closed-eye {
	background: url(../images/ClosedEye.png) no-repeat;
	width: 26px;
	height: 13px;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -6.5px;
}

.icon-dropdown {
	background: url(../images/drop_down.png) no-repeat;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	right: 18px;
	margin-top: -3px;
}

.user_sex_switch label {
	width: auto;
	position: absolute;
	top: 0;
	display: inline-block;
	line-height: 28px;
}

#user_man_label {
	left: 0;
	padding: 0 35px 0 0;
	z-index: 5;
}

#user_woman_label {
	left: 0;
	padding: 0 0 0 35px;
	z-index: 5;
}

.radio:not(checked) {
	position: absolute;
	opacity: 0;
}

.radio:not(checked) + label ,
.radio:not(checked) + label {
	font-family: "Roboto Regular", sans-serif;
	font-size: 16px;
	position: relative;
	color: #000;
}

.radio:checked + label ,
.radio:checked + label {
	font-family: "Roboto Medium", sans-serif;
	color: #5B50C6;
}

.switch-frame {
	display: inline-block;
	width: 54px;
	height: 30px;
	border: 1px solid #B0B7BE;
	border-radius: 24px;
	position: absolute;
	left: 107px;
}

#user_man:not(checked) + label:before,
#user_woman:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 27px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #5B50C6;
	opacity: 0;
	transition: all .5s;
}

#user_man:checked + label:after,
#user_woman:checked + label:after {
	content: '';
	position: absolute;
	top: 3px;
	/*left: 3px;*/
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #5B50C6;
	transition: all .5s;
}

#user_man:not(checked) + label:before {
	left: 3px;
}

#user_man:checked + label:after {
	right: 0px;
}

#user_woman:not(checked) + label:before {
	left: 3px;
}

#user_woman:checked + label:after {
	left: -4px;
}

.cities-list {
	list-style-type: none;
	display: none;
	width: 300px;
	background: #fff;
	border-radius: 6px;
	border: 1px solid #B0B7BE;
	position: relative;
	position: absolute;
	top: 56px;
	left: -1px;
	z-index: 10;
}

.cities-list li {
	width: 300px;
	height: 58px;
	padding: 7px 21px;
	position: relative;
}

.cities-list li:hover {
	background: rgba(133, 109, 216, 0.1);
}

.cities-list a {
	line-height: 44px;
	color: #000;
}

.illustration {
	float: left;
	margin-right: 22px;
}

.ordered-list {
	float: left;
	margin-left: 22px;
	counter-reset: listCounter;
}

.ordered-list li {
	font-family: 'Roboto Light', sans-serif;
	font-size: 16px;
	color: #171B20;
	list-style: none;
	margin-bottom: 19px;
	position: relative;
}

.ordered-list li:last-child {
	margin-bottom: 0;
}

.ordered-list li:before {
	counter-increment: listCounter;
	content: counter(listCounter) ".";
	font-family: 'Roboto Medium', sans-serif;
	font-size: 16px;
	color: #171B20;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: -20px;
}

.note {
	margin-bottom: 46px;
}

.note:after {
	content: '';
	display: block;
	clear:both;
}

.photo-upload-container {
	background: #FFC739;
	width: 340px;
	height: 158px;
	padding: 20px;
	border-radius: 6px 6px 0 6px;
	position: relative;
	margin-right: -10px;
	margin-bottom: 30px;
}

.photo-upload-container div {
	border: 1px dashed #fff;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

.photo-upload-container:after {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: -10px;
	right: 0;
	background: #B58200;
	border-radius: 0 0 11px 0;
}

.photo-upload {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 116px;
	line-height: 116px;
}

.photo-upload-text {
	display: block;
	cursor: pointer;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 116px;
	color: #fff;
	text-transform: uppercase;
	font-family: "Roboto Medium", sans-serif;
}

.photo-upload input {
	position: absolute;
	top: 0;
	opacity: 0;
	width: 298px;
	height: 116px;
	cursor: pointer;
}

.user-agreement {
	text-align: center;
}

.user-agreement input, .user-agreement label {
	/*display: inline-block;*/
	text-align: center;
}

.checkbox {
	position: absolute;
	opacity: 0;
}

.user-agreement label {
	display: inline-block;
	position: relative;
	margin-left: 30px;
	width: 230px;
}

.user-agreement label:before {
	content: '';
	position: absolute;	
	left: -30px;
	width: 24px;
	height: 26px;
	border: 1px solid #B0B7BE;
	border-radius: 6px;
}

.user-agreement input:checked + label:before {
	content: "\02713";
	font-family: "Roboto Regular", sans-serif;
	font-size: 21px;
}

.button {
	-webkit-appearance: none;
	width: 300px;
	height: 58px;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 18px;
	background: #2328AE;
	color: #fff;
	border: 0;
	border-radius: 100px;
	margin-top: 22px;
}

/* ---- Helper classes ---- */

.form-group label.label-highlight {
	color: red;
	transition: .2s;
}

/* ---- Media classes ---- */

@media screen and (max-width: 760px) {
	.container {
		width: 360px;
		position: static;
		top: 0;
		left: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}

	.icon-star {
    	right: -20px;
	}
}

@media screen and (max-width: 428px) {
	body {
		padding: 0;
	}
	.container {
		width: 100%;
		height: 100%;
		position: static;
		top: 0;
		left: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}
	.icon-star {
    	right: -20px;
	}
}
